body{
    text-align: center;
}
img{
    width: 550px;
}
.container
{
    text-align: center;
}
#myCarousel{
    background-color: aqua;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Crimson Text', serif;
}